<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.global.imac2.integracionvideovigilancia">

    <application>
        <activity android:name="com.global.web.integracionvideovigilanciagob.AlertaIntegracion"></activity>
    </application>

</manifest>